/********** Base styles **********/
* {
  box-sizing: border-box;
}
body {
  font-size:15px;
  font-family: Arial,sans-serif;
  line-height: 1.1;
  color:#000;
}

header .navbar {
  background-color:#B7DCFF;
  border: none;
}

header .navbar .navbar-brand {
  font-size: 2em;
  color:#000;
}

.column {
  padding:0 15px 30px;
  float: left;
  background-color: #B7DCFF;
  margin:15px 0;
}


/********** Desktop view **********/
@media (min-width: 768px) {
  #bs-example-navbar-collapse-1.navbar-collapse.collapse {display:none!important;}
}
/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Mobile view **********/
@media (max-width: 767px) {
  header .navbar .navbar-toggle {
    border-color: #000;
    background-color: #ffffff;
  }
  header .navbar .navbar-toggle .icon-bar {
    background-color: #000;
  }
  header .navbar .navbar-toggle:focus {
    border-color: #fff;
    background-color: #000;
  }
  header .navbar .navbar-toggle:focus .icon-bar{
    background-color: #fff;
  }
  #bs-example-navbar-collapse-1.navbar-collapse {
    background-color:#fff;
    padding:0;
    border:none;
  }
  .nav.navbar-nav {
    margin:0;
    border-width: 1px 0 0 0;
  }
  .nav.navbar-nav li {
    border-bottom:1px solid #ccc;
  }
}
