/********** Base styles **********/
* {
  box-sizing: border-box;
}
body {
  font-size:15px;
  font-family: Arial,sans-serif;
  line-height: 1.1;
  color:#000;
}
.navbar-brand {
  font-size: 1.75em
}

.bgcolor_red {
  background-color: #ff0000;
  color:#fff;
}
.bgcolor_blue {
  background-color: #A3EEFF;
}
.bgcolor_green {
  background-color: #A3FFF7;
}


.column {
  padding:0 15px 30px;
  float: left;
}
.column_content {
  border: 1px solid black;
  position:relative;
  padding:30px 15px 15px;
  background-color: #eee;
}

/********** Desktop view **********/
@media (min-width: 768px) {
  #bs-example-navbar-collapse-1 {display:none;}
}
/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Mobile view **********/
@media (max-width: 767px) {
}
